<header class="header">
    <div class="container">
        
        <nav>
            <div class="logo">
            <img src="https://gist.github.com/assets/99909689/6b11addc-bc46-4eb2-a5c7-005e9f595c9d" alt="FoodTime Logo">
            <h1>Nutri Explore</h1>
        </div>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <!-- <li><a href="#">Pages</a></li> -->
                <!-- <li><a href="#">Shop</a></li> -->
                <li><a routerLink="/blogs">Blogs</a></li>
                <li><a href="https://ratingrishu.github.io/My-Portfolio/about" target="_blank">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="hero">
        <div class="container">
            <div class="hero-text">
                <h2>About The <strong>NUTRITION </strong> You Need</h2>
                <h1>WELCOME TO THE WORLD OF NUTRI EXPLORER</h1>
                <p>Your essential guide to healthy eating</p>
                <p></p>
                <div class="hero-buttons">
                    <button class="btn">Calculate Nutrition</button>
                    <button class="btn">Recipies Details</button>
                </div>
            </div>
        </div>
        <video class="background-video" src="https://gist.github.com/assets/99909689/b4b75bb9-a002-4285-b318-a05a7f94b7b2" autoplay loop muted>
            Your browser does not support the video tag.
        </video>
    </section>
</main>
