body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
 
}


header {
  position: relative; /* Ensure that the absolute positioning of the logo works within the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: paleturquoise;
  border-radius: 25px;
  height: 150px; /* Fixed height for the header */
  overflow: visible; /* Allow content to overflow the header if necessary */
  
  /* background: url('https://gist.github.com/assets/99909689/2bef9e46-e994-46e3-84a2-3fecf6e1c41a') no-repeat center center;
  background-size: cover;
  background-position: center 70%;
  position: relative;
  border-radius: 25px; */
}

.logo {
  position: absolute; /* Absolute positioning */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for center alignment */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 150px; /* Increased size for the logo */
  height: auto; /* Ensure the aspect ratio is maintained */
  margin-right: 10px;
}
nav ul {
  font-size: x-large;
  font-family: cursive;
  font-style: oblique;
  list-style: inside;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: 'nunito sans', 'sans-serif';
  width: 100%;
  height: 100%;
  background-color: #2a2734;
}

.hero {
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 50px 0;
  border-radius: 25px;
  margin-top: 5px;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero-text {
  max-width: 50%;
  position: relative;
  z-index: 2;
}

.hero-text h2 {
  color: #ff9900;
}

.hero-text h1 {
  font-size: 2.5em;
  margin: 10px 0;
}

.hero-text p {
  font-size: 1em;
  margin: 20px 0;
}

.hero-buttons .btn {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none; /* Ensure the video doesn't block interaction with other elements */
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark overlay for better text readability */
  z-index: 1;
}
