<header>
    <div class="container">
        
        <nav>
            <div class="logo">
            <img src="../../assets/img/logo.png" alt="FoodTime Logo">
            <h1>Nutri Explore</h1>
        </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="hero">
        <div class="container">
            <div class="hero-text">
                <h2>High Quality Test Station</h2>
                <h1>We believe Good Food Offer Great Smile</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <div class="hero-buttons">
                    <button class="btn">Book a Table</button>
                    <button class="btn">View More</button>
                </div>
            </div>
            <div class="hero-image">
                <img src="../../assets/img/header.jpg" alt="Paneer Tikka">
            </div>
        </div>
    </section>
   
</main>