<div class="popup" *ngIf="isVisible">
    <div class="popup-content">
        <span class="close-btn" (click)="closePopup()">&times;</span>
        <div class="mt-0">
            <div class="details row g-0 text-center m-5 border border-primary rounded">
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/recipe-1.jpg" class="card-img-top w-100 h-100" alt="...">
                </div>
                <div class="detaildesc col-12 col-md-6">
                    <div>
                        <h6>
                            <p class="text-muted">Water bottel</p>
                        </h6>
                        <h1>
                            Milton <br> Water bottel
                        </h1>
                        <h6>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit jdk jd . Reiciendis sequi corporis minima maxime vel amet inventore tempore ea nostrum quaerat.
                        </h6>
                        <h2>$-100</h2>
                        <a href="details.php">
                            <button class="btn btn-outline-success btn-lg mt-5">Add To Cart</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
