<!-- 
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>About Nutri Explore</h4>
            <p>Nutri Explore provides detailed nutritional information on a wide variety of foods, helping you make informed dietary choices.</p>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="https://ratingrishu.github.io/My-Portfolio/about">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>Email: info@nutriexplore.com</p>
            <p>Phone: +123-456-7890</p>
            <p>Address: 123 Health St, Wellness City, USA</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Nutri Explore. All Rights Reserved.</p>
    </div>
</footer> -->


<!-- Footer -->
<footer class="footer">
    <div class="footer-overlay">
        <div class="footer-container">
            <div class="footer-section">
                <h4>About Nutri Explore</h4>
                <p>Nutri Explore provides detailed nutritional information on a wide variety of foods, helping you make informed dietary choices.</p>
            </div>
            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul class="footer-links">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/">About Us</a></li>
                    <li><a routerLink="/blogs">Blogs</a></li>
                    <li><a href="https://ratingrishu.github.io/My-Portfolio/about" target="_blank">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Email: info&#64;nutriexplore.com</p>
                <p>Phone: +123-456-7890</p>
                <p>Address: 123 Health St, Wellness City, USA</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Nutri Explore. All Rights Reserved.</p>
        </div>
    </div>
</footer>
