/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  padding: 10px;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  margin-top: 10px;
}

.wrap h2 {
  margin: 0;
}

.wrap p {
  margin: 5px 0;
}

 */


 :root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #5d5f5e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #444;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  padding: 10px;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  margin-top: 10px;
}

.wrap h2 {
  margin: 0;
}

.wrap p {
  margin: 5px 0;
}

.dish-details {
  background-color: #fff;
  padding: 20px 0;
}

.dish-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dish-info h3 {
  font-size: 1.5em;
}

.rating span {
  color: gold;
  font-size: 1.2em;
}

.chef-info {
  display: flex;
  align-items: center;
}

.chef-info img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  font-size: 1.5em;
  margin-right: 10px;
}

.description {
  margin-top: 10px;
  color: #666;
}

.sample {
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px; /* Add some padding around the content */
  border-radius: 8px; /* Rounded corners */
  text-align: center;
}

.sample h3 {
  color: #1955d6; /* Dark text color for the heading */
  font-size: 1.2em; /* Larger font size for the heading */
  margin-bottom: 10px; /* Add some space below the heading */
}

.sample p {
  color: #28d152; /* Slightly darker text color for the paragraph */
  font-size: 1em; /* Normal font size for the paragraph */
  line-height: 1.5; /* Increase line height for better readability */
}
