<div class="sample">
  <div class="search-container">
    <input [(ngModel)]="query" placeholder="Search for food items" class="search-input" />
    <button (click)="fetchFoodData()" class="search-button">Search</button>
  </div>
  <h3>Sample Searches</h3>
  <p> Burger King chicken wings potato chips Starbucks cake oatmeal fried eggs blueberry pancakes Pizza Hut low fat milk
  </p>
</div>

<section class="dish-details">
  <div class="container">
    <div class="dish-info">
      <h3>Paneer Tikka</h3>
      <div class="rating">
        <span>★★★★★</span>
      </div>
      <div class="chef-info">
        <img src="../../assets/img/logo.png" alt="John Doe">
        <div>
          <p>John Doe</p>
          <p>Master Chef</p>
        </div>
      </div>
      <div class="price">
        <p>$10.00</p>
        <button class="btn">Add to Cart</button>
      </div>
      <p class="description">Lorem ipsum dolor shit amet...</p>
    </div>
  </div>
</section>
<div *ngIf="foodData">
  <h1>Food Information</h1>
  <div class="card-container">
    <div *ngFor="let item of foodData.hints" class="card">
      <img [src]="item.food.image ? item.food.image : '../../assets/img/logo.png'" alt="Loading...."
        class="card__image">
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <div class="wrap">
            <h2>{{ item.food.label }}</h2>
            <p>Known As: {{ item.food.knownAs }}</p>
            <p>Category: {{ item.food.category }}</p>
            <p>Calories: {{ item.food.nutrients.ENERC_KCAL.toFixed(2) }}</p>
            <p>Protein: {{ item.food.nutrients.PROCNT.toFixed(2) }}</p>
            <p>Fat: {{ item.food.nutrients.FAT.toFixed(2) }}</p>
            <p>Carbs: {{ item.food.nutrients.CHOCDF.toFixed(2) }}</p>
            <p>Fiber: {{ item.food.nutrients.FIBTG.toFixed(2) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>