<div class="sample">
  <div class="search-container">
    <input [(ngModel)]="query" placeholder="Search for food items" class="search-input" />
    <button (click)="fetchFoodData()" class="search-button">Search</button>
  </div>
  <h3>Sample Searches</h3>
  <!-- <p> Burger King chicken wings potato chips Starbucks cake oatmeal fried eggs blueberry pancakes Pizza Hut low fat milk
  </p> -->
  <p>
    <span *ngFor="let item of sampleSearches" (click)="searchSample(item)" class="sample-item">
      {{ item }}
    </span>
  </p>
</div>

<section class="dish-details">
  <div class="container">
    <div class="dish-info">
      <h3>Nutri Explore</h3>
      <div class="rating">
        <span>★★★★★</span>
      </div>
      <div class="chef-info">
        <img src="https://gist.github.com/assets/99909689/a920cc76-140f-499f-9fec-9bb4188bc7c6" alt="John Doe">
        <div>
          <p>John Doe★ ||  Master Chef</p>
        </div>
      </div>
      <!-- <div class="price">
        <p>$10.00</p>
        <button class="btn">Add to Cart</button>
      </div> -->
      <p class="description">
        It provides highly precise and detailed information regarding the protein content offered by particular foods.
      </p>
    </div>
  </div>
</section>

<div *ngIf="foodData" >
  <h1>Food Information for -: {{ foodData.text | uppercase }}</h1>
  <div class="card-container">
    <div *ngFor="let item of foodData.hints" class="card" (click)="togglePopup(item)">
      <img [src]="item.food.image ? item.food.image : '../../assets/img/logo.png'" alt="Loading...."
        class="card__image">
      <div class="card__overlay">
        <div class="card__header">

          <div class="wrap">
            <h3>{{ item.food.label }}</h3>
            <!-- <p class="btn">Click ME</p> -->
            <p class="typing">Calories: {{ item.food.nutrients.ENERC_KCAL | number}}</p>
            <p class="typing">Protein: {{ item.food.nutrients.PROCNT | number}}</p>
            <p class="typing">Fat: {{ item.food.nutrients.FAT | number}}</p>
            <p class="typing">Carbs: {{ item.food.nutrients.CHOCDF | number}}</p>
            <p class="typing">Fiber: {{ item.food.nutrients.FIBTG | number}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-details-popup [(isVisible)]="isPopupVisible" [foodItem]="selectedFoodItem"></app-details-popup>