 :root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #5d5f5e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #444;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  max-width: 300px;
  text-align: center;
  background-color: #e4e6e5;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  padding: 10px;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  margin-top: 10px;
}

.wrap h2 {
  margin: 0;
}

.wrap p {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
  /* border: 2px solid rgb(127, 206, 131); */
}

.dish-details {
  background-color: #fff;
  padding: 20px 0;
}

.dish-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dish-info h3 {
  font-size: 1.5em;
}

.rating span {
  color: gold;
  font-size: 1.2em;
}

.chef-info {
  display: flex;
  align-items: center;
}

.chef-info img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  font-size: 1.5em;
  margin-right: 10px;
}

.description {
  margin-top: 10px;
  color: #b30404;
  font-size: large;
}

.sample {
  background-color: #f0f0f0; 
  padding: 20px; 
  border-radius: 8px; 
  text-align: center;
}

.sample h3 {
  color: #1955d6; 
  font-size: 1.2em; 
  margin-bottom: 10px; 
}

.sample p {
  color: #28d152;
  font-size: 1em; 
  line-height: 1.5;
}

.card:hover {
  transform: scale(1.2); 
  z-index: 1; 
  transition: ease all 2.3s;
}

/* Define the typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Define the blinking cursor effect */
@keyframes blink {
  50% { border-color: transparent; }
}

/* Apply the typing effect to the paragraph */
.typing {
  display: inline-block; /* Ensure the element is inline-block to control width */
  white-space: nowrap; 
  overflow: hidden; 
  border-right: 0.15em solid black; /* Create the cursor */
  width: 100%; /* Initial width */
  animation: typing 4s steps(40, end) 1, blink 0.75s step-end 4s; /* Apply animations */
}

/* Optional: Adjust the font and styling */
.typing {
  font-family: monospace; /* Use a monospace font for a typewriter effect */
  font-size: 24px;
}
