<ul class="cards">
    <li>
      <a href="" class="card">
        <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="wrap">
              <a routerLink="/list"><button class="button">View More</button></a>
            </div>
          </div>
          <!-- <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p> -->
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <div class="wrap">
                <a routerLink="/list"><button class="button">View More</button></a>
              </div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <div class="wrap">
                <a routerLink="/list"><button class="button">View More</button></a>
              </div>
            </div>
          </div>
          <!-- <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p> -->
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="wrap">
            <a routerLink="/list"><button class="button">View More</button></a>  
            </div>
          </div>
          <!-- <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p> -->
        </div>
      </a>
    </li>
  </ul>