<ul class="cards">
  <li>
    <div class="card">
      <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <div class="wrap">
            <button class="button" (click)="onView(paneer)">View More</button>
          </div>
        </div>
      </div>
    </div>
  </li>
  
  <li>
    <div class="card">
      <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <div class="wrap">
            <button class="button" (click)="onView(rice)">View More</button>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <div class="wrap">
            <button class="button" (click)="onView(potatoChips)">View More</button>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img src="../../assets/img/recipe-1.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <div class="wrap">
            <button class="button" (click)="onView(starbucks)">View More</button>
          </div>
        </div>
      </div>
    </div>
  </li>

</ul>

<app-recipes-list [item]="foodItemData"></app-recipes-list>